[Unit]
Description=ANDLER Android instance target (weston + Waydroid)
Documentation=https://github.com/andler-project/andler
Requires=multi-user.target
After=multi-user.target
AllowIsolate=yes
Conflicts=rescue.target

[Install]
Alias=default.target
